.main{
    display: flex;
    flex-direction: column;
}

h1{
    margin-left: 800px;
    margin-bottom: 60px;
}

.data-box{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.data-box div#cases, div#deaths{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: flex-start;
    background-color: #9FE2BF;
    width: 700px;
    align-content: center;
}

.select-box{
    margin: 30px 0 0 100px;
    display: flex;
    flex-direction: column;
}

.select-box button{
    margin-top: 10px;
    font-size: 12pt;
    width: 80px;
    height: 30px;
    background-color: #9FE2BF;
    border: none;
    border-radius: 5px;
}

.select-box button:hover{
    opacity: 0.8;
    color: #CD5C5C;
}

.select-box button a{
    text-decoration: none;
}
select{
    padding: 5px;
    width: 1500px;
    font-size: 12pt;
    color: #000;
}






